<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestNTConnection.Properties.Settings.DbConnectionString" connectionString="PORT=5432;TIMEOUT=15;POOLING=True;MINPOOLSIZE=1;MAXPOOLSIZE=20;COMMANDTIMEOUT=20;COMPATIBLE=2.2.4.3;DATABASE=postgres;HOST=localhost;PASSWORD=q1w2e3r4Z;USER ID=postgres" providerName="Npgsql" /><add name="ChannelModelContainer" connectionString="metadata=res://*/ChannelModel.csdl|res://*/ChannelModel.ssdl|res://*/ChannelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=CSCodeFirstNewDatabaseSample.BloggingContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>
